body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
  margin: 0;
  font-family: sans-serif;
  
}

#game {
  background: white;
}
